#levelChoose {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#levelChoose a {
    display: block;
    color: #000;
    width: 700px;
    height: 50px;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
}

#levelChoose a:hover {
    font-size: 20px;
    border: 1px solid #000;
}

#levelChoose img {
    opacity: 0.5;
}

#imgBox {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
}

.levelLink {
    position: absolute;
    top: 40%;
    left: 30%;
}
