#home {
    width: 80%;
    top: 0;
    left: 12%;
    position: absolute;
    margin: 20px auto;
    text-align: center;
    animation: home 3s ease;
}

.container {
    width: 100%;
    height: 100%;
}

#homeButton {
    width: 150px;
    height: 80px;
    top: 420px;
    left: 48%;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    border: 1px solid #000;
    border-radius: 5px;
    animation: homeButton 3s ease;
}

@keyframes homeButton {
   from {
       transform: translateX(500px);
   }
   to {
       transform: translateX(0);
   }
}

@keyframes home {
    from {
        transform: translateX(-500px);
    }
    to {
        transform: translateX(0);
    }
}
